go 1.26.0

use (
	.
	./providers/aws
	./providers/azblob
	./providers/azure
	./providers/configcat
	./providers/consul
	./providers/cosmos
	./providers/doppler
	./providers/dynamodb
	./providers/etcd
	./providers/firebase-rc
	./providers/firebase-rtdb
	./providers/firestore
	./providers/flagsmith
	./providers/flipt
	./providers/gcp
	./providers/gcs
	./providers/goff
	./providers/growthbook
	./providers/k8s
	./providers/launchdarkly
	./providers/mongodb
	./providers/mysql
	./providers/onepassword
	./providers/postgres
	./providers/redis
	./providers/s3
	./providers/sops
	./providers/split
	./providers/sqlite
	./providers/unleash
	./providers/vault
	./tools/reconcilevet
	./x/otel
)
