go 1.26.5

use (
	.
	./cmd/mamori
	./providers/aws
	./providers/azblob
	./providers/azure
	./providers/cloudflare-kv
	./providers/configcat
	./providers/consul
	./providers/cosmos
	./providers/doppler
	./providers/dynamodb
	./providers/etcd
	./providers/firebase-rc
	./providers/firebase-rtdb
	./providers/firestore
	./providers/flagsmith
	./providers/flipt
	./providers/gcp
	./providers/gcs
	./providers/goff
	./providers/growthbook
	./providers/httpcore
	./providers/https
	./providers/k8s
	./providers/launchdarkly
	./providers/mamori
	./providers/mongodb
	./providers/mysql
	./providers/onepassword
	./providers/openfeature
	./providers/postgres
	./providers/redis
	./providers/s3
	./providers/scaleway-sm
	./providers/sops
	./providers/split
	./providers/sqlite
	./providers/unleash
	./providers/vault
	./providers/vercel-gc
	./providers/viper
	./server
	./x/authjwt
	./x/otel
	./x/prom
)
